.button {
  width: 110px;
  background-color: darkgreen;
  color: white;
  padding: 5px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  margin: 1px; }
  .button:hover {
    background-color: #177e17;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); }
  .button:focus {
    outline: 0; }

.button-inactive {
  background-color: #72af72;
  color: #dddddd; }

.button-long {
  width: 175px; }

.button-close {
  position: fixed;
  margin-left: 385px;
  margin-top: -15px; }

.button-square {
  width: 30px; }

.button-danger {
  background-color: #ce0000; }
  .button-danger:hover {
    background-color: #9c0000;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); }

.button-info {
  background-color: #2b0ece; }
  .button-info:hover {
    background-color: #200b9c;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); }
