.toggle-container {
  text-align: center; }

.input-field {
  margin: 5px;
  width: 200px;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  border: none; }

.center {
  text-align: center; }

.form-validation {
  font-size: 11;
  color: red; }

.user-routes-container {
  padding-top: 80px;
  padding-right: 10px;
  padding-left: 10px; }

.user-list {
  text-align: left; }

.user-list-white {
  background-color: white;
  padding: 10px; }

.user-list-offwhite {
  background-color: #e2e2e2;
  padding: 10px; }

.name-space {
  margin-left: 15px; }

.name-remove-pair {
  margin-left: 50px; }

.creator-color {
  color: darkgreen; }
