$background-color: rgb(184, 221, 184);
$brand-color: rgb(0, 100, 0);
$hover-link-color: rgb(31, 134, 31);

.nav {
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: $background-color;
  box-shadow: 0px 2px 6px rgba(80, 80, 80, 0.5);
  z-index: 2;
}

.nav-brand {
  float: left;
  padding: 12px;
}

.nav-brand-link {
  color: $brand-color;
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
  &:hover {
    color: $hover-link-color;
  }
}

.nav-link {
  color: $brand-color;
  text-decoration: none;
  font-size: 12pt;
  font-weight: bold;
  &:hover {
    color: $hover-link-color;
  }
}

.nav-item {
  float: right;
  margin-top: 10px;
  margin-right: 12px;
}

.nav-text {
  float: right;
  font-size: 14;
  margin-top: 15px;
  margin-right: 12px;
}

.dash-nav {
  // display: flex;
  position: fixed;
  // margin: 0 4em;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 100%;
  background-color: $background-color;
  // border-radius: 0 0 1em 1em;
  z-index: 0;
  opacity: 1;
  // transform: translateX(-4em);
  // transition: opacity 0.25s, transform 0.5s;
  // &:hover {
  //   transform: translateX(0);
  //   opacity: 1;
  // }
  // animation-name: 'fly-in';
  // animation-duration: 1s;
  box-shadow: 2px 0px 6px rgba(80, 80, 80, 0.5);
}

// .active {
//   @keyframes fly-in {
//     // from {
//     //   transform: translateX(-4em);
//     //   transition: opacity 0.25s, transform 0.5s;
//     //   opacity: 0;
//     // }
//     to {
//       transform: translateX(0);
//       // transition: opacity 0.25s, transform 0.5s;
//       opacity: 1;
//     }
//   }
// }




// .active {
//   transform: translateX(0);
//   opacity: 1;
// }

.toggle-dash-nav {
  cursor: pointer;
  padding: 5px;
  position: fixed;
  z-index: 1;
  margin-top: 50px;
  margin-left: 35px;
  width: 125px;
  height: 20px;
  background-color: $brand-color;
  color: white;
  text-align: center;
  font-weight: bold;
  opacity: 0.5;
  // border-style: solid;
  // border-color: white;
  // border-width: 3px;
}